<html>
    <head>
        <title>Weather app</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            h1 {
                font-size: 24px;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
                margin-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <h1>{{city}}:</h1>
        <p>{{description}}</p>
        <p>Температура: {{temperature}}°C, ощущается как {{feels_like}}°C.</p>
        <p>Влажность: {{humidity}}%</p>
        <p>Скорость ветра: {{wind_speed}}м/с</p>
    </body>
</html>
